/* ----------- MG-BASE-MENU ----------- */

 
    .mg-menu {
        height: 100%;
        float: left;
        color: $mg-bright-1;
        background-color: $mg-dark-2;
        overflow-y: hidden;
        position: absolute;
        z-index: 999;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.33);
        
        /* Size-spezific menu elements (BIG)*/
        &.mg-menu-big {  width: 256px; }
        
        /* Size-spezific menu elements (SMALL)*/
        &.mg-menu-small {
            width: 64px;
            
            .mg-menu-heading {
                background-position: 4px;
                background-size: 142px;
            }
            
            &:hover {
                width: 256px;
                
                .mg-menu-heading {
                background-position: left;
                background-size: 215px;
            }
                
            }
        }
        
        /* Universal menu elements */
        .mg-menu-link {
            @include font-size(19px);
            color: $mg-grey-4;
            padding: 16px 22px;
            
            &:hover, &:focus {
                color: $mg-bright-0;
                background-color: $mg-dark-3;
            }
            
            &:visited {
                color: $mg-grey-4;
                background-color: none;
            }
            
            &.mg-menu-link-active, &:active {
                color: $mg-purple;
                
                &:hover {
                    color: $mg-purple;
                    background-color: $mg-dark-2;
                }
            }
            
            .mg-menu-icon { padding-right: 18px; }
        }
        
       .mg-menu-close {
            position: absolute;
            top: 4px;
            left: 232px;
            @include font-size(12px);
            color: $mg-grey-0;
            cursor: pointer;
        }
        
        .mg-menu-seperator {
            display: block;
            width: auto;
            max-width: 100%;
            margin: 0.8em 12px 1.2em 12px;
            border-top: 1px solid $mg-dark-4;
        }
        
        .mg-menu-heading {
            color: $mg-grey-4;
            background-color: $mg-dark-1;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat; 
            background-position: center;
            background-size: 215px;
            margin: 0;
            padding: 3px 18px 3px 18px;
            height: 58px;
            font-size: 18px;
            border-bottom: 2px solid $mg-purple;
        }
    }