$akkurat-font-path: './fonts/lineto-akkurat-web/' !default;

@font-face {
    font-family: 'Akkurat';
    src: local('Akkurat-Regular');
    src:url('#{$akkurat-font-path}lineto-akkurat-regular.eot');
    src:url('#{$akkurat-font-path}lineto-akkurat-regular.eot?#iefix') format('embedded-opentype'),
        url('#{$akkurat-font-path}lineto-akkurat-regular.woff') format('woff'),
        url('#{$akkurat-font-path}lineto-akkurat-regular.ttf') format('truetype'),
        url('#{$akkurat-font-path}lineto-akkurat-regular.svg#lineto-akkurat-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Akkurat';
    src: local('Akkurat-Bold');
    src:url('#{$akkurat-font-path}lineto-akkurat-bold.eot');
    src:url('#{$akkurat-font-path}lineto-akkurat-bold.eot?#iefix') format('embedded-opentype'),
        url('#{$akkurat-font-path}lineto-akkurat-bold.woff') format('woff'),
        url('#{$akkurat-font-path}lineto-akkurat-bold.ttf') format('truetype'),
        url('#{$akkurat-font-path}lineto-akkurat-bold.svg#lineto-akkurat-bold') format('svg');
    font-weight: bold;
    font-style: normal;

}

