/* ----------- Colors ----------- */

$mg-purple: #5856D6;
$mg-green: #38A071;
$mg-red: #DC5042;

$mg-dark-0: #222222;
$mg-dark-1: #282828;
$mg-dark-2:#333333;
$mg-dark-3: #444444;
$mg-dark-4: #666666;
$mg-dark-5: #9F9F9F;

$mg-grey-0: #4D4D4D;
$mg-grey-1: #8D8D8D;
$mg-grey-2: #7D7D7D;
$mg-grey-3: #B3AFAF;
$mg-grey-4: #AAABB6;
$mg-grey-5: #DFDFDF;

$mg-bright-2: #DDDDDD;
$mg-bright-1: #EEEEEE;
$mg-bright-0: #F5F5F5;

$mg-white: #FFFFFF;
