/* ----------- Forms & Inputs ----------- */

// Style Placeholders
::-webkit-input-placeholder { color: $mg-grey-1; }
:-moz-placeholder { color: $mg-grey-1; /* Firefox 18- */ }
::-moz-placeholder { color: $mg-grey-1; /* Firefox 19+ */ }
:-ms-input-placeholder { color: $mg-grey-1;} 