/* ----------- Tables ----------- */
.mg-table {
	border: none;

	thead {
		color: $mg-grey-0;
		font-size: 12px;

		> tr > th { border:none; padding-left:16px;	}

	}

	tbody {

		td { padding: 11px 20px; color: $mg-grey-0;	}
        
		> tr {
            &:hover { cursor: pointer;}

			> td {
				border-top: 1px solid $mg-bright-1;
				font-size:0.9em;
				line-height:1.8;
				color: $mg-dark-1;
				padding-left:16px;
			}
		}

	}
    
    &.mg-table-responsive {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 2em;

        .thead { display: none; }

        .tbody > .tr {
            display: block;
            border-top: 1px solid $mg-bright-1;
            padding: 0.6em;
            clear: both;
            overflow-y:hidden;
            height: 1%;

            &.disabled { color: $mg-bright-2; }
            &.link { cursor: pointer; }
            &.link:hover { background-color: $mg-bright-1; }
                
            .td {
                white-space: nowrap;
                font-size: 0.9em;
                padding: 0.2em;
                padding-left: 16px;

                &.left { float: left; }
                &.right { clear: both; float: left; }
                &.right + &.right { clear: none; }
                &.break { clear: both; }
                &.break-left { clear: left; }
                &.break-right { clear: right; }
                &.noDisplay { display: none; }
                
            }
        }

        &.mg-table-high > .tbody > .tr > .td { padding: 0.2em; }
    }

    @media (min-width: 48em) {
        &.mg-table-responsive > .tbody > .tr > .td {
            display: inline-block;

            &.left { float: left; }
            &.right { float: right; clear: none; }
            &.break { clear: both; }
        }
    }

    @media (min-width: 64em) {
        &.mg-table-responsive {
            display: table;

            .thead {
                display: table-header-group;

                .tr {
                    display: table-row;

                    .th {
                        display: table-cell;
                        font-size: 12px;
                        padding: 0.6em;
                        padding-left: 16px;
                        color: $mg-grey-2;
                    }
                }
            }

            .tbody {
                display: table-row-group;

                .tr {
                    display: table-row;
                    border: none;
                    padding: 0;

                    .td {
                        display: table-cell;
                        float: none;

                        border-top: 1px solid $mg-bright-1;

                        &.left { float: none; }
                        &.right { float: none; }
                        &.break { clear: none; }
                        &.break-left { clear: none; }
                        &.break-right { clear: none; }
                        &.noDisplay { display: table-cell; }
                        
                    }
                }
            }
            
            &.mg-table-high >.tbody >.tr >.td { padding: 0.6em; }

        }
    }
}