/* Tables */
.mg-table {
    width: 100%;
	margin-bottom: 2em;
	border-collapse: collapse;
    border: none;

	.thead {
		color: $mg-grey-0;
		font-size: 12px;
        display: none;

		> .tr > .th { border:none; padding-left:16px; }
	}

	.tbody {
        .td { padding: 11px 20px; color: $mg-grey-0; }
        
        .tr {
            display: block;
            border-top: 1px solid $mg-bright-1;
            padding: 0.6em;
            clear: both;
            
            &:hover { cursor: pointer;}
            &.disabled { color: $mg-bright-2; }
            &.link { cursor: pointer; }
            &.link:hover { background-color: $mg-bright-1; }

			.td {
                white-space: nowrap;
				font-size:0.9em;
				line-height:1.8;
				color: $mg-dark-1;
                padding: 0.2em;
				padding-left:16px;
                
                &.left { float: left; }
                &.right { clear: both; float: left; }
                &.right + &.right { clear: none; }
                &.break { clear: both; }
                &.break-left { clear: left; }
                &.break-right { clear: right; }
                &.noDisplay { display: none; }
			}
            
		}
	}

    @media (min-width: 48em) {
        .tbody {
            .tr {
                
                .td {
                    display: inline-block;
                    &.right { float: right; clear: none; }
                }
                
            }
        }
    }

    @media (min-width: 64em) {
        display: table;

        .thead {
            display: table-header-group;

            .tr {
                display: table-row;

                .th {
                    display: table-cell;
                    font-size: 12px;
                    padding: 0.6em;
                    padding-left: 16px;
                    color: $mg-grey-2;
                }
            }
        }

        .tbody {
            display: table-row-group;

            .tr {
                display: table-row;
                border: none;
                padding: 0;

                .td {
                    display: table-cell;
                    float: none;
                    padding: 0.6em;
                    border-top: 1px solid $mg-bright-1;

                    &.left { float: none; }
                    &.right { float: none; }
                    &.break { clear: none; }
                    &.break-left { clear: none; }
                    &.break-right { clear: none; }
                    &.noDisplay { display: table-cell; }
                    
                }
            }
        }
    }
    
}